body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;
}

.main-div{
    width: 500px;
    height: 450px;
    background-color: white;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border:black 2px solid;
    border-radius:20px;
    margin-top: 40px;
    /* margin-left: 300px; */
    flex-wrap: wrap;
    padding: 20px;
}

.inner-div{
    margin-bottom: 180px;
}

label{
    font-size:25px;
}

input{
    background-color: #E7E7E7;
    border-color: #E7E7E7;
    border-style: none;
    border: #E7E7E7 2px solid;
    font-size: 25px;
    border-radius: 100px;
    padding: 10px;
    outline: none;
    padding-left: 30px;
}

button
{
    width: 200px;
    margin-left: 75px;
    background-color: #000;
    color: white;
    padding: 13px;
    border:black 2px solid;
    border-radius: 70px;
    font-size: 18px;
}